body {
    background: #262626;
    color: #333333;
    text-decoration-color: white;
    /* background-image: url(../../../media/profile_pics/coll.png); */
}



.container{
    /* background-color: red; */
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 6%;
    
}

h1 {
    color: #ffffff;
    font-size: 50px;
    font-family: system-ui;
    margin-top: 14%;
}

ul {
    color: black;
    font-weight: 500;

}
 
p {
    color: #40bdac;
    font-size: 16px;
    margin-top: 3%;
}

.button-login{
    background: #4d00ff9e ;
    width: 12%;
}

.button-register{
    background: #00aaffd6;
    width: 12%;
}
.list-container{
    display: flex;
    align-items: center;
    justify-content:space-evenly
}

.unorder-list{
    width: 30%;
    text-align: left;
    color: #ff8f00cc;
}

.upload-files-button{
    width: 53%;
    border: 1px solid #26f70182;
}

.upload-files-button:hover{
    width: 53%;
    border: 1px solid black;
    background-color: #40bdac;
}