body {
  background: #262626;
  color: #333333;
  margin-top: 0;
}

label{
  color: darkgrey;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    box-shadow: 2px 1px 20px 2px darkgrey;
    margin-bottom: 9%;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
  color: #fdb70a;
}

.coll-icon{
  width: 7%;
  /* background-image: url(../../../media/profile_pics/logo.png); */
}

.card-title{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 37px;
    font-family: ui-serif;
    font-weight: 600;
    color: #9968cf;
}

.form-text{
  color:#67fff2de;
}

.login-button{
  width: 100%;
}
.profile-title{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    font-family: ui-serif;
    font-weight: 600;
    color: #c26a6acf;
}

.uploaded-files-title{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: darkorange;
  margin-top: 3%;
}

.content-section-uploaded-files{
  padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    box-shadow: 2px 1px 20px 2px darkgrey;
    margin-bottom: 3%;
}

.ello{
  margin-left: 31%;
}

.article-upload-files-title{
  color: #08ffc7;
}

.article-upload-files-content{
  color:#5f788a;
}
.logout-message{
  background: #9ceb9c;
    height: 50px;
    font-size: x-large;
    padding: 11px;
}

.logout-card{
  margin-top: 10%;
  border: 1px solid #6fbef7;
  padding: 4%;
  box-shadow: 2px 1px 20px 2px darkgrey;
}

.login-done{
  border: 1px solid white;
}